body {
  width: 30%;
  margin: auto;
}

label{
    display: block;
}

input[type=text], select, textarea, #email {
  box-sizing: border-box;
  width: 100%;
}

input, select {
  border: solid 1px #bebebe;
  border-radius: 0%;
  margin: 1% 1% 3% 0%;
}

select {
  padding: 2%;
}

input{
    display: block;
    padding: 1.5% 0% 1.5% 0%;
}

input[type="button"] {
  border: none;
  padding: 2%;
  background-color: #4b99ad;
  color: white;
}

.head1 input{
    display: inline-block;
    width: 46%;
}

.body1 {
  width: 100%;
  box-sizing: border-box;
}
